* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* background-image: url(/assets/images/1121240.jpg); */
    background: #0c192c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .index{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles{
   position: relative;
   display: flex;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
animation: animates 15s linear infinite;
animation-duration: calc(115s / var(--i) );
}

.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}


@keyframes animates{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-15vh) scale(1);
    }
}


  .player {
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .wrapper {
    border: 2px solid rgba(11, 8, 21);
    margin-top: 140px;
    padding: 25px;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    background: rgba(12, 8, 22, 0.426);
    box-shadow: 0 0 0 10px rgba(17, 12, 33, 0.471), 0 0 50px rgba(17, 12, 32, 0.411);
  }
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .track-art {
    margin: 30px;
    height: 200px;
    width: 200px;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
  .now-playing {
    font-size: 1rem;
    color: #ffffff;
  }
  .track-name {
    font-size: 2.5rem;
    color: #fff;
  }
  .track-artist {
    margin-top: 5px;
    font-size: 1.5rem;
    color: #fff;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 20px; */
  }
  .active {
    color: #000;
  }
  .repeat-track,
  .next-track,
  .playpause-track,
  .prev-track,
  .random-track {
    padding: 25px;
    color: #fff;
  }
  .slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seek_slider,
  .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83a9ff;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    /* background: #fff; */
    background: #000;
    border: 2px solid #3774ff;
    cursor: grab;
    border-radius: 100%;
  }
  .seek_slider:hover,
  .volume_slider:hover {
    opacity: 1;
  }
  .seek_slider {
    width: 60%;
  }
  .volume_slider {
    width: 30%;
  }
  .current-time,
  .total-duration {
    padding: 10px;
    color: #fff;
  }
  i.fa-volume-down,
  i.fa-volume-up {
    padding: 10px;
  }
  i,
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward,
  p {
    cursor: pointer;
    color: #fff;
  }
  .randomActive {
    color: #fff;
  }
  .rotate {
    animation: rotation 8s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader .stroke {
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite;
  }
  @keyframes animate {
    50% {
      height: 20%;
      background-color: #4286f4;
    }
    100% {
      height: 100%;
      background: #4286f4;
    }
  }
  .stroke:nth-child(1) {
    animation-delay: 0s;
  }
  .stroke:nth-child(2) {
    animation-delay: 0.3s;
  }
  .stroke:nth-child(3) {
    animation-delay: 0.6s;
  }
  .stroke:nth-child(4) {
    animation-delay: 0.9s;
  }
  .stroke:nth-child(5) {
    animation-delay: 0.6s;
  }
  .stroke:nth-child(6) {
    animation-delay: 0.3s;
  }
  .stroke:nth-child(7) {
    animation-delay: 0s;
  }
